.btn_yes{width: 70px; height: 30px; border: 0 none;background: url("../images/cart/sprite.png") 0 0 no-repeat; color: #FFF; font-size: 12px; line-height: 27px; text-align: center; cursor: pointer;}
.btn_no{width: 70px; height: 30px; border: 0 none;background: url("../images/cart/sprite.png") -108px 0 no-repeat; color: #333; font-size: 12px; line-height: 27px; text-align: center; cursor: pointer;}


.mod_steps{text-align: center; padding: 20px 0;}
.mod_tb_info{ }
.mod_tb_info .content{}
.mod_tb_info h3{font-size: 16px; font-weight: bold; height: 38px; line-height: 38px; }
.mod_tb_info .info_tb{width: 100%;border: 1px solid #E0E0E0;}
.mod_tb_info .info_tb .tr1{border-top: 1px solid #E0E0E0;}
.mod_tb_info .info_tb .tr1 td{ vertical-align: middle; font-size: 12px; overflow: hidden; padding: 15px 0; color: #333; }
.mod_tb_info .info_tb .tr1 td a{color: #364492; font-size: 12px;}
.mod_tb_info .info_tb .td1{width: 40px; text-align: center;}
.mod_tb_info .info_tb .td2{width: 70px; text-align: left; text-indent: 10px;}
.mod_tb_info .info_tb .td3{width: 100px; text-align: left; text-indent: 10px;}
.mod_tb_info .info_tb .td4{width: 210px; text-align: left; text-indent: 10px;}
.mod_tb_info .info_tb .td5{width: 390px; text-align: left; padding-left: 10px; line-height: 1.5em;}
.mod_tb_info .info_tb .td6{ text-align: left; text-indent: 10px;}
.mod_tb_info .info_tb .td6 .op_btn{ display: none; text-align: right;}
.mod_tb_info .info_tb .td6 .op_btn a{margin-right: 10px;}
.mod_tb_info .info_tb .tr1_hover{ background: #EFEFEF;}
.mod_tb_info .info_tb .tr1_hover .td6 .op_btn{display: block;}
.mod_tb_info .tr2{background: #EFEFEF;}
.mod_tb_info .info_tb .tr1_cur{background: #B2E0F0;}
.mod_tb_info .info_tb .tr1_cur .td6 .op_btn{display: block;}
.mod_tb_info .btn_add_addr{ border: 0 none; background: 0; font-size: 12px; text-align: left; padding: 0; color: #339; cursor: pointer;}
.mod_tb_info .add_info_box{padding: 10px 0;}
.mod_pro_list{ margin-top: 20px;}
.mod_pro_list .titbar{zoom:1;}
.mod_pro_list .titbar:after{display: block; clear: both; height: 0; content: "";}
.mod_pro_list .titbar h3{float: left; font-size: 16px; font-weight: bold; color: #333;}
.mod_pro_list .titbar .return_car{float: right; padding-left: 15px;
    background: url("../images/cart/icon2.png") 0 0 no-repeat;}
.mod_pro_list .th1{width: 390px;}
.mod_pro_list .th2{width: 130px;}
.mod_pro_list .th3{width: 110px;}
.mod_pro_list .th5{width: 155px;}
.mod_pro_list th{ height: 37px; font-size: 14px; color: #FFF; font-weight: bold; line-height:37px; background: #364492;}
.mod_pro_list .tb_head {width: 100%; margin-top: 10px; border-top: 3px solid #F8B50E;}
.mod_pro_list table{width: 100%;}
.mod_pro_list .shop_name{ margin-top:10px;text-align: left;}
.mod_pro_list .shop_name a{olor: #333399;}
.mod_pro_list .table_cont{border: 1px solid #E0E0E0; margin-top: 10px;}
.mod_pro_list .table_cont .td1{width:390px; text-align: left;}
.mod_pro_list .table_cont .td2{width: 130px;color: #FF9900; font-size: 14px; }
.mod_pro_list .table_cont .td3{width: 110px;}
.mod_pro_list .table_cont .td4{ color: #FF9900; font-size: 14px;}
.mod_pro_list .table_cont .td5{width: 155px; text-align: left; line-height: 1.5em; vertical-align: top;}
.mod_pro_list .table_cont .td5 .txt{margin-top: 20px;}
.mod_pro_list .table_cont td{vertical-align: middle; text-align: center;}
.mod_pro_list .table_cont .bg1{background: #EBEBEB;}
.mod_pro_list .table_cont tr{border-bottom: 1px solid #E0E0E0;}
.mod_pro_list .table_cont tr img{width: 120px; height: 60px;}
.mod_pro_list .pro_img{ float: left;}
.mod_pro_list .info_txt{float: left; margin-left: 20px; width: 220px; display: inline; margin-top: 10px;}
.mod_pro_list .pro_box{ margin-left: 10px; zoom:1; padding-top: 10px;}
.mod_pro_list .pro_box:after{zoom:1; display: block; clear: both; content: '';}
.mod_pro_list .pro_name{margin-bottom: 10px; line-height: 1.5em;}
.mod_pro_list .pro_name a{font-size: 12px; color: #333;}
.mod_pro_list .pro_name a:hover{color: #339; text-decoration: underline;}
.mod_pro_list .edit_box{ margin-left: 10px; margin-top: 10px; padding-bottom: 10px;}
.mod_pro_list .edit_box a{color: #339;}
.mod_pro_list .edit_box textarea {width: 350px; height: 60px; border: 1px solid #CCC;}
.mod_pro_list .edit_box .btn_box2{margin-top: 10px;}
.mod_pro_list .edit_box .btn_box2 button{margin-right: 10px;}
.mod_pro_list .shop_total{text-align: right;font-size: 14px; padding-top: 10px; padding-right: 20px;}
.mod_pro_list .shop_total strong{font-size: 20px; color: #FF9900; font-weight: bold}
.mod_pro_list .btn_box{margin-top: 20px; zoom:1;}
.mod_pro_list .btn_box:after{zoom:1; display: block; clear: both; content: '';}
.mod_pro_list .btn_box .tips{ padding-left: 15px;
    background: url("../images/cart/icon1.png") 0 0 no-repeat; line-height: 16px; text-align: right; float: right; clear: both; font-size: 12px; color: #999;}
.mod_pro_list .btn_box p{text-align: right; color: #333; float: right; clear: both; margin-bottom: 15px; font-size: 12px;}
.mod_pro_list .btn_box p a{color: #364492;}
.mod_pro_list .btn_box .addr{margin-right: 35px;}
.mod_pro_list .btn_box .btn{float: right; clear: both; margin-top: 5px; padding-bottom: 30px;}
.mod_pro_list .btn_box .btn button{width: 151px; height: 41px;
    background: url("../images/cart/sprite.png") -216px 0 no-repeat; border: 0 none; text-indent: -9999px; overflow: hidden; cursor: pointer;}

.cell_edit_tb{margin-left: 31px; margin-bottom: 10px; margin-top: 20px; color: #333;}
.cell_edit_tb strong{color: #F00; padding-right: 3px; font-family: sinsum; margin-right: 3px;}
.cell_edit_tb th{width: 85px;}
.cell_edit_tb th,
.cell_edit_tb td{height: 38px;}
.cell_edit_tb .ipt_3{width: 265px; height: 23px; line-height: 23px; border: 0 none; text-indent: 5px;}
.cell_edit_tb .ipt_1{width: 75px; height: 23px; line-height: 23px; border: 0 none; text-indent: 5px;}
.cell_edit_tb .ipt_2{width: 185px; height: 23px; line-height: 23px; border: 0 none; margin-left: 5px; text-indent: 5px;}
.cell_edit_tb .ipt_4{width: 450px; height: 23px; line-height: 23px; border: 0 none; text-indent: 5px;}
.cell_edit_tb .btn_box{ padding-top: 5px;}
.cell_edit_tb .btn_box button{margin-right: 10px;}
.cell_edit_tb img{vertical-align: middle; margin-left: 10px; margin-right: 12px;}
.cell_edit_tb #set_normal{vertical-align: baseline;}