.产品详情{ background:url("产品详情.png") top left no-repeat; }
._00000001_r2_c2{ width:515px; height:70px; background-position:-10px -10px; }
._00000001_r4_c3{ width:108px; height:38px; background-position:-10px -90px; }

