@charset "utf-8";
/* ------------------------------------------------------------
  Css Reset v1.0
  Created: 2011-04-25
  Last Updated: 2013-01-09
  Author: cloudYan
  Contact: qqGroup:187260298
------------------------------------------------------------ */
/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,th,td,hr,button,figure,menu{margin:0;padding:0}article,aside,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr{display:inline}table{border-collapse:collapse;border-spacing:0}th{text-align:inherit}fieldset,img{border:0}iframe{display:block}:focus{outline:0}abbr,acronym{border:0;font-variant:normal}del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}ol,ul{list-style-type:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold}button,input,select,textarea{font-size:100%}q:before,q:after{content:''}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ins,a{text-decoration:none}a:hover{text-decoration:underline}img{vertical-align:top}
/* common.css */
.clearfix:after,.wrap:after,.cwrap:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix,.wrap,.cwrap{zoom:1}.clr{clear:both}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}blockquote,pre{white-space:pre-wrap;word-wrap:break-word;}.yahei{font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"}.fl,.fr{display:inline}.fl{float:left;}.fr{float:right}bc{margin-left:auto;margin-right:auto;}.tc{text-align:center}.tr{text-align:right}i{font-style:normal}.hor li{float:left;display:inline;white-space:nowrap}
/*全站统一样式dfn表示价格*/
dfn,td.price{color:#f60;font-style:normal; font-family:Tahoma, Geneva, sans-serif}
dfn{display:inline-block;zoom:1;*display:inline}
dfn i{font-style:normal;font-weight:500}

.wrap{width:990px;margin-left:auto;margin-right:auto}
button,input,select,textarea{font:12px/1 Tahoma,Arial,\5b8b\4f53;}
body{font:12px/22px \5b8b\4f53,Tahoma,Arial; color:#333; background:#fff; position:relative}
h3{font-size:14px;}h4{font-size:12px}
a{color:#08c}a:hover{color:#D38}.view_more i{color:#08c;font-size:11px;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

/* 驴妈妈UI设计 */
/* 字体颜色控制 */
.lv-c1{color:#f60}
.lv-ca{color:#333}
.lv-cb{color:#555}
.lv-cc{color:#888}
.lv-cw{color:red}
