
/* ------------------------------------------------------------
  Pro: ebk样式
  Create: 2013-12-10
  Update: 2013-12-20
------------------------------------------------------------ */

body{font:12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;color:#333;}
.wrap{width:1000px;}
a{color:#528cd7;}
a:hover{color:#ff6600;}
.link-down{display:inline-block;padding-right: 5px;}
/*文字颜色*/
.red,.error{color:#f00;}
.orange{color:#f90;}
.blue{color:#528cd7;}
.green{color:#4eaa21;}
.gray{color:gray;}
.ml20{ margin-left:20px;}
.mr20{ margin-right:20px;}

.tab-switch .tabcon {display:none;}
.tab-switch .show  {display:block;}

.icon,.input-date{display:inline-block; background: url(../images/combo.png) 9999px 9999px no-repeat;}
.icon{width:16px;height:16px; vertical-align: text-top;}
.input-date{ background-color:#fff;background-position: right 7px;}
.icon-home   { background-position: 0 2px;}
.icon-product{ background-position: 0 -28px;}
.icon-order  { background-position: 0 -60px;}
.icon-notice { background-position: 0 -88px;}
.icon-user   { background-position: 0 -118px;}
.icon-ihome  { background-position: -40px 0;width:16px;height:16px;}
.icon-down   { background-position: -40px -20px;margin-right:4px;}
.icon-adduser{ background-position: -40px -40px;margin-right:4px;}
.icon-return { background-position: -40px -60px;margin-right:4px;}
.icon-print { background-position: -40px -80px;margin-right:4px;}



.icon-num{position:absolute; top:-10px;background-position: -80px 1px;width:auto;padding-left:5px;height:24px;}
.icon-num i{float:left;background-position: -92px 1px;width:auto;height:24px;display:inline-block;padding-right:5px;margin-right:-3px;line-height: 1;color:#fff;font-family: \5b8b\4f53,sans-serif;}

/* header */
.header{padding-top:7px;padding-bottom:7px;height:60px;}
.logo{float:left;display:inline;width:300px;height:56px;background:url(../images/logo.png) no-repeat;text-indent: -9999px;position:relative;}
.logo span{position:absolute;left:170px;top:4px;background:#fff;display:inline-block;width:130px;height:24px;overflow:hidden;color:#666;font-size:16px;text-indent:0;font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;font-weight:400;}
.topinfo{float:right;padding-top:10px;text-align: right;color:#666;line-height:22px;}
.topinfo i{display: inline-block;color:#cccccc;font-style:normal;padding:0 3px;}

.enav{ height:40px; background:#538ed7;position: relative;z-index: 10;}
.enav a{color:#fff;}
.enav a:hover{color:#fff;text-decoration: none;}
.enav-main {float: left;font-size: 16px;}
.nav-item{position:relative;float:left;display:inline;margin:0 2px 0 0;}
.nav-item a{display:inline-block;padding:0 18px;height:40px;line-height:40px;}
.nav-item:hover,.nav-item-current {background:#1f5fae;}
.nav-submain {display: none;position: absolute;width:99%;border: 1px solid #5690d7;border-top: none;left: 0;top: 40px;}
.nav-subitem a{display:block;height:30px;line-height:30px;font-size:12px;color:#528cd7;background:#fff;}
.nav-subitem a:hover{color:#528cd7;background:#eef1f8;}
.nav-item-hover .nav-submain,
.nav-item:hover .nav-submain{display:block;}
.enav a i.icon{display:inline-block;width:26px;height:24px;margin-right:5px;vertical-align: text-top;margin-top:-2px; }

/*导航高亮*/
.home #home,
.product #product,
.order #order,
.notice #notice,
.user #user{background:#1f5fae;}

/*面包屑导航*/
.crumbs{position:relative;margin-top:10px;margin-bottom: 10px;font-family:\5b8b\4f53,sans-serif; }
.crumbs-link {float:left;display:inline;padding-left: 10px;color:#666;}
.crumbs-link a.current{color:#666;text-decoration: none;}
.crumbs-link .icon-ihome{vertical-align: text-top;position:relative;top:-1px;margin-right:2px;}

/*侧栏*/
.aside{width:170px;float:left;display:inline;margin-right:20px;}
.nav-quick{background:#eef1f8;border:1px solid #c1d1dc;padding:0 0 10px 10px;}
.nav-quick h2{font-family:"Microsoft YaHei";font-weight:normal;font-size:20px;color:#8499b7;height: 50px;line-height:50px;padding-left:10px;}
.nav-quick ul{border-top:1px solid #dce2f1;border-bottom:1px solid #fff;}
.nav-quick li{float:left;width:100%;position:relative;border-top:1px solid #fff;border-bottom:1px solid #dce2f1;height:40px;line-height:40px;}
.nav-quick a{position:relative;z-index:2;color:#797f98;display:block;padding-left:24px;}
.nav-quick a:hover{text-decoration: none;color:#797f98;}
.nav-quick li.current{margin-right:-1px;border:1px solid #aab8c2; border-right:none;background: #fff;font-weight: bold;box-shadow: 0 6px 5px -4px #ddd inset;}
.nav-quick .ui-arrow-right{position:absolute;z-index:2;left: 12px;top: 15px;border-left-color:#aebdc6;}

.nav-quick li.current .ui-arrow-right,
.nav-quick a:hover .ui-arrow-right{border-left-color:#797f98;}

.textarr{display:none;position:absolute;z-index:3;right: 6px;top: 11px;width:16px;height:16px;text-align:center;font-size:20px;line-height:16px;color:#dbe7ef;font-weight:bold;}
.libg{display:none;position:absolute;left:-10px;top:-1px;width:100%;height:100%;z-index:1;border:1px solid #bbc7e2;border-width:1px 0;padding:0 0 0 10px;background:#ccd9ee;}
.hover .libg{display:block;}
.nav-quick li.current .libg{display:none;}
.nav-quick li.current .textarr{display:block;}

.main{overflow: hidden;}

.formbox{background:#f9fafb;border:1px solid #dbe7ef;padding:15px 10px 5px;}

.etabnav{border-bottom:2px solid #3073c3;}
.etabnav ul{overflow: hidden;}
.etabnav li{float:left;display:inline;border:1px solid #dbe7ef; border-bottom: none;margin-left:-1px;}
.etabnav a{display:block;padding: 0 20px; background:#e8eef7;height:40px; line-height: 40px;font-size: 14px;color:#666;}
.etabnav a:hover{color:#666; text-decoration: none;}
.etabnav .current a{font-weight: bold;color:#fff;background: #4e8ad4;}
.etabnav .current a i{font-weight: normal;}
.etabnav .current a:hover{color:#fff;}

.einfo{margin:10px 0 5px;font-size: 14px;}
.eitem{display: inline-block;margin-right: 30px;}

/* 两列操作面板 */
.colbox{border:1px solid #dbe7ef;border-width: 2px 1px 1px; }
.colmain,.colside{padding:20px 20px 0;}
.colmain{overflow:hidden;}
.colside{ background: #f9fafb;}

/* ebk内容盒子 */
.ebox{border:1px solid #dbe7ef;}
.etitle{height:30px;line-height:30px;border-bottom:1px solid #dbe7ef; background: #f9fafb;}
.etitle h3{float:left; display: inline;padding-left:10px;font-size: 14px;color:#666;}
.ebox .content{padding:20px 10px;}
.colbox table{*padding-bottom: 20px;}


/*登陆页*/
.yanzhengma a,.btn_login,.btn_show,.login_list p a{ outline:none; hide-focus:expression(this.hideFocus=true);}
.login_all{ width:100%; margin-top:106px; background:#e2e8f0;}
.login_main{ width:1000px; height:313px; margin:0 auto; background:url(../images/login_banner.gif) no-repeat; position:relative;}
.login_logo{ display:block; position:absolute; left:0; top:-97px; width:380px; height:48px; background:url(../images/login_logo.gif) no-repeat;}
.login_time{ height:30px; line-height:30px; position:absolute; right:310px; top:-30px; font-size:14px; color:#999;}
.login_box{ width:268px; padding:5px 15px 10px; height:320px; position:absolute; right:0; top:-34px; background:#fff; background:url(../images/login_bg.png) no-repeat 0 -5px;}
.login_box h2{line-height: 36px; font-family:"微软雅黑"; font-size:24px; font-weight:normal; text-align:center;}
.login_prompt{ position:absolute; left:15px; top:44px; height:16px; line-height:16px; color:#ff0000; font-size:12px; }
.login_prompt i,.login_list p a i{ vertical-align:middle; margin-right:5px;}
.login_list{ overflow:hidden; margin-top:25px;}
.login_list li{ padding:0 0 16px;}
.login_list p{ font-size:14px; color:#666; line-height:22px;}
.login_list p a{ float:right; font-size:12px; }
.login_list input{ width:256px; height:30px; line-height:30px; padding:3px 5px; border:#b2b2b2 solid 1px; font-size:16px; color:#666;}
.login_list input.border_red{ border:#ff1212 solid 1px;}
.login_list .w_86{ width:86px;}
.login_list img{ vertical-align:middle;}
.yanzhengma{ overflow:hidden; zoom:1;}
.yanzhengma input,.yanzhengma img,.yanzhengma a{ float:left;}
.yanzhengma img{ margin:0 7px;}
.yanzhengma a{ line-height:38px;}
.btn_login{ width:266px; height:42px; line-height:42px; text-align:center; border:#3073c3 solid 1px; background:#4d8ad3; color:#fff; font-family:"微软雅黑"; font-size:20px; display:block;}
.btn_login:hover{ text-decoration:none;color:#fff; background:#3274c4;}
.login .telephone_box{width:1000px;margin:24px auto 0;}

/*首页功能开关*/
.index_remind{ position:absolute; right:0; top:0; color:#999; line-height:22px;}
.index_remind span{ display:inline-block; width:58px; height:22px; vertical-align:middle; cursor:pointer;}
.icon_guan{ background:url(../images/guan.png) no-repeat;}
.icon_kai{ background:url(../images/kai.png) no-repeat;}

/*首页*/
.main_box{ width:1000px; margin:0 auto; overflow:hidden; zoom:1;}
.box_border{ border:#d9dde6 solid 1px;}
.hotel_info,.gonggao_info{ height:236px;}
.hotel_info{ width:563px; float:left;}
.gonggao_info{ float:right; width:408px;}
.hotel_info,.gonggao_info{width:49%;}
.hotel_info_box{ padding-top:27px; text-align:center; overflow:hidden; zoom:1;}
.hotel_info_box li{ float:left; width:100%;}/*2个设置50%*/
.hotel_info_box li i{ display:block; margin:0 auto; }
.icon_hotel{ width:73px; height:65px; background:url(../images/hotel.png) no-repeat 10px 0;}
.hotel_info_box p{ color:#528cd7; font-size:16px; font-weight:bold; line-height:18px;}
.btn_dcl{ display:inline-block; margin-top:14px; width:218px; height:52px; line-height:52px; color:#fff; text-align:center; background:#4382ce; font-size:16px; font-weight:bold;}
.btn_dcl span{ padding:0 5px; color:#fd9705; font-family:Arial; font-size:24px; font-weight:normal;}
.btn_dcl:hover{ background:#2262ae; color:#fff; text-decoration:none;}
.gonggao_list{ padding:10px 19px;}
.gonggao_list li{ padding:4px 0; _width:94%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:##528CD7;}
.gonggao_list li span{ color:#999; margin-right:5px;}




/*新增用户信息*/
.newUser_box{ overflow:hidden; zoom:1; border:#dbe7ef solid 1px; position:relative;}
.box_title{ font-size:14px; color:#666; height:32px; line-height:32px; padding:0 12px; background:#f9fafb; border-bottom:#dbe7ef solid 1px;}
.box_title a{ float:right; color:#999; font-size:12px; line-height:32px;}
.box_title a:hover{ color:#ff8800;}
.newUser_l{ float:left; width:50%; margin-left:-1px; border-left:#dbe7ef solid 1px; display:inline; padding-bottom:1000px; margin-bottom:-1000px;}
.newUser_l .ziliao{ margin-top:15px;}
.newUser_jt{ display:block; width:6px; height:9px; position:absolute; left:50%; margin-left:-1px; top:11px; background:url(../images/icon_png24.png) no-repeat 0 -40px; overflow:hidden;}
.quanxian_box{ padding:0 10px 10px; margin-top:5px;}

/*库存时间价格*/
.stockList_box{ width:998px; margin:0 auto; border:#dbe7ef solid 1px;}
.stockList_fx{ padding:10px 15px;}
.stockList_fx label{ margin-right:40px;}
.stockList_beizhu{ color:#333; padding:15px 0 10px 15px;}
.stockList_beizhu span{ margin-right:18px;}
.time_box{ width:1000px; margin:0 auto;}
.years_box{ height:32px; line-height:32px; background:#7bb7f2; text-align:center; font-size:14px; color:#fff; overflow:hidden;}
.month_l,.month_r{ display:block; width:21px; height:21px; background:#fff; margin-top:5px; display:inline; position:relative; cursor:pointer;}
.month_l i,.month_r i{ display:block; width:7px; height:13px; overflow:hidden; position:absolute; left:50%; top:4px; cursor:pointer;}
.month_l i{ background:url(../images/icon_png24.png) no-repeat 0 -50px; margin-left:-4px;}
.month_r i{ background:url(../images/icon_png24.png) no-repeat -6px -50px; margin-left:-3px;}
.month_l{ float:left; margin-left:5px;}
.month_r{ float:right; margin-right:5px;}

.kucun_list{ overflow:hidden; zoom:1;}
.kucun_list th{ white-space:nowrap;}
.kucun_list th,.kucun_list td{ height:48px; width:70px; padding:2px 5px; text-align:center; border:#d8dce5 solid 1px; overflow:hidden;}
.kucun_riqi,.kucun_jin td.kucun_riqi{ background:#eef1f8;}
.kucun_list td p,.kucun_list th p,.kucun_list td span,.kucun_list td{ white-space:nowrap;}
.kucun_list td p{ color:#333;}
.kucun_list td p,.kucun_list td span{ height:18px; line-height:18px;}
.kucun_list td span{ display:block;}
.kucun_list .butongguo td span{ color:#FF0000;}
.kucun_list .daishenhe td span{ color:#528CD7;}
.kucun_list .weitijiao td span{ color:#4EAA21;}
.kucun_list td i{ font-family:Arial; font-style:italic; color:#a5d0fa; font-size:16px; font-weight:bold; margin-right:5px; display:inline-block; width:22px;}
.kucun_list td dfn{ color:#797f98;}
.kucun_riqi div{ height:75%; position:relative; padding-top:25%;}
.kucun_riqi b{ display:none; width:30px; height:30px; position:absolute; left:-5px; top:-2px; background:url(../images/icon_png8.png) no-repeat 0 -64px;}
.kucun_kong,.kucun_jin td{ background:#f7f7f7;}
.kucun_jin .kucun_riqi b{ display:block;}


/*页面底部和电话*/
.telephone_box{ margin:24px auto 0; border:#dee9f0 solid 1px; overflow:hidden; position:relative;}
.telephone_list{ overflow:hidden; zoom:1; margin-top:-18px; padding-bottom:18px;}
.telephone_list li{ float:left; width:20%; height:130px; padding:0 2%; border-left:#dee9f0 solid 1px; margin:36px 0 0 -1px; overflow:hidden;}
.telephone_list li h5{ font-size:14px; color:#666; font-weight:normal;}
.telephone_list li p{ font-size:12px; color:#999; margin-top:8px; line-height:20px;}
.btn_show{ display:block; width:32px; height:14px; line-height:14px; text-align:center; background:#f9fafb; border:#dee9f0 solid 1px; position:absolute; right:-1px; bottom:-1px; display:none;}
.btn_show i{ display:block; width:13px; height:7px; position:absolute; left:50%; margin-left:-7px; top:4px; background:url(../images/icon_png24.png) no-repeat 0 -7px; overflow:hidden; cursor:pointer;}
.btn_show i.btn_hide{ background:url(../images/icon_png24.png) no-repeat;}
.btn_show:hover{ background:#F1F1F1;}
.h_162{ height:162px;}


/*公告信息*/
.announcement_box{ }
.announcement_title{ height:32px; line-height:32px; padding:0 13px; font-size:14px; color:#333;}
.announcement_list{ border:#d8dce5 solid 1px; border-top:#dbe7ef solid 2px; overflow:hidden;}
.announcement_list li{ padding:0 12px; margin-top:-1px; border-top:#d8dce5 solid 1px;}
.announcement_list li:hover,.gg_bg{ background:#f9fafb;}
.yidu .icon_xx{ background-position:-16px 0;}
.yidu .announcement_list_t h4{ font-weight:normal;}
.yidu .icon_up{ background-position:0 -50px;}
.icon_xx,.icon_fj,.icon_xz,.icon_down{ display:inline-block; background:url(../images/icon_png24.png) no-repeat; _background:url(../images/icon_png8.png) no-repeat; float:left; overflow:hidden;}
.icon_xx{ width:14px; height:12px; background-position:-16px -15px; margin-top:14px;}
.icon_fj{ float:left; display:inline-block; margin:13px 10px 0; width:7px; height:13px; background-position:50px 50px;}
.has_fujian .icon_fj{ background-position:-16px -28px;}
.icon_down{ float:right; width:13px; height:5px; margin-top:18px; background-position:0 -58px;}
.announcement_list_t{ height:40px; line-height:40px;}
.announcement_list_t h4{ float:left; color:#333; font-size:12px; cursor:pointer;}
.announcement_time{ float:right; color:#999; margin-right:10px;}
.announcement_list_b{ padding:0 40px 0 66px; display:none;}
.announcement_text{ color:#666; line-height:20px; padding-bottom:15px;}
.fujian{ padding-bottom:15px;}
.fujian dt{ color:#666;}
.fujian dt b{ color:#333; margin-right:8px;}
.fujian dd{ color:#999; margin-top:5px;}
.icon_xz{ float:left; margin:4px 5px 0 0; display:inline; width:15px; height:14px; background-position:-15px -44px;}
.fujian dd a{ margin-right:5px;}

/*查看维护时间价格表*/
.maintain_box{ border:#DBE7EF solid 1px; padding:20px 25px; background:#f9fafb;}
.maintain_box b,.maintain_box span{ color:#333;}
.maintain_t{ color:#999;}
.maintain_t b{ font-size:14px;  font-weight:bold; margin-right:34px;}
.chaxun_t{ font-size:16px; font-weight:bold; color:#333; padding:30px 0 10px 14px;}
.chaxun_table{ width:100%; color:#333;}
.chaxun_table td{ padding:2px 0;}
.time_box_t{ font-size:14px; color:#666; padding:10px 0 10px 10px;}
.time_box_t a{ font-size:12px; font-weight:normal;}
.zhuangtai_box{ line-height:21px;}
.zhuangtai_box p{ float:right; color:#999;}
.zhuangtai_box p dfn{ vertical-align:middle; margin-right:5px; position:relative; top:-1px;}
.zhuangtai_box i{ display:inline-block; width:19px; height:19px; border:#d8dce5 solid 1px; vertical-align:middle; margin:0 10px 0 15px;}
.zhuangtai_box span{ margin:0 3px 0 10px;}
.box_bg1{ background:#fff;}
.box_bg2{ background:#ffeded;}
.box_bg3{ background:#fffde5;}

.calbox{ margin-top:10px;}
.caltable{ width:100%;}
.caltable th,.caltable td{ border:#dbdee7 solid 1px;}
.caltable th{ height:30px; text-align:center; color:#333; font-size:12px; color:#333;}
.caltable td{ color:#999;}
.fill_data span{ color:#333;}
.calday{ color:#a5d0fa; font-family:Arial; font-size:16px; font-style:italic; font-weight:bold;}
.day_box{ background:#f9fafb; height:134px; padding:10px 10px 10px 14px; cursor:pointer; overflow:hidden;}
.time_price .calmonth .ft_guanbi{ background:#ffeded;}
.ft_guanbi .calday{ color:#f7bcbc;}
.time_price .calmonth .ft_jinzhang{ background:#fffde5;}
.ft_jinzhang .calday{ color:#eddb5f;}

.maintain_tan{ margin:0 auto; width:350px; padding-bottom:10px; border:#538ed7 solid 2px; position: absolute; background:#fff; z-index:99; display:none;}
.maintain_tan p{ color:#fff; padding:0 15px; font-family:Arial; font-size:18px; height:32px; line-height:32px; background:#538ed7; margin-bottom:5px;}
.maintain_tan p i{ display:block; width:12px; height:16px; line-height:16px; font-size:22px; font-family:Arial; position:absolute; top:5px; color:#538ed7;}
.i_left{ left:-8px;}
.maintain_tan p .i_right{ left:auto; right:-8px;}
.maintain_tan td,.table_bianjia td,.table_fangtai td{ padding:4px 0;}
.maintain_tan input,.maintain_tan select,.table_riqi input,.table_riqi select,.table_fangtai input,.table_fangtai select,.table_bianjia input,.table_bianjia select{ margin-bottom:0;}
.w50{ width:50px;}
.w30{ width:30px; margin-right:10px;}
.w310{ width:310px; display:inline-block; line-height:16px; margin-left:10px; vertical-align:middle;}
.table_bianjia .text-right,.table_fangtai .text-right{ width:140px; padding-right:5px;}
.table_fangtai{ display:none;}

.maintain_b{border:1px solid #ccc; margin:30px 0 13px; padding:50px 30px 20px; position:relative;}
.maintain_tab{ position:absolute; left:0; top:0; overflow:hidden; zoom:1;}
.maintain_tab li{ float:left; padding:0 16px; height:38px; line-height:38px; text-align:center; margin-right:5px; display:inline; color:#666; font-weight:bold; background:#e8eef7; border:#dbe7ef solid 1px; cursor:pointer;}
.maintain_tab li.tab_this{ color:#fff; background:#4e8ad4; border:#407fcc solid 1px;}
.table_riqi{ margin:10px 0 5px;}
.table_riqi td{ padding:4px 0;}
.times{ background:url(http://pic.lvmama.com/img/v5/ebk/time_bg.png) no-repeat right 7px #eee; cursor:pointer !important; padding-right:20px;}


.form-table .tip-icon{ position:relative; top:2px;}
.mt30{ margin-top:30px;}
.einfo .fr{ font-size:12px;}


.footer{ font-size:12px; color:#999; text-align:center; line-height:20px; margin:20px 0;}

/*打印*/
.print_all,.print_btn{ width:650px; margin:20px auto 0;}
.print_t{ height:30px; line-height:30px;}
.print_t p{ float:right;}
.print_t strong{ margin-left:20px;}
.print_t b{ margin-right:30px;}
.print_box{ border:#dbe7ef solid 1px; border-top:#dbe7ef solid 2px; padding:20px 25px;}
.print_box .label{ padding-right:5px;}

/**
  max 480 767 979
      768-979
  min 980 1200 
  @media (min-width: 768px) and (max-width: 979px) {}
  @media (min-width: 1200px) {}
  @media (min-width: 980px) {}
  @media (max-width: 480px) {}
  @media (max-width: 767px) {}
  @media (max-width: 979px) {}
*/

@media (min-width: 1240px) {
    .wrap  { width: 1200px; }
    .aside { width: 200px;  }
}