@charset "utf-8";
/* ------------------------------------------------------------
  Css Reset v0.9
  Last Updated: 2012-07-25
  Author: Cloudyan
  Contact: qqGroup:187260298 1395093509@qq.com
------------------------------------------------------------ */
/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,th,td,hr,button,figure,menu{margin:0;padding:0}article,aside,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr{display:inline}table{border-collapse:collapse;border-spacing:0}th{text-align:inherit}fieldset,img{border:0}iframe{display:block}:focus{outline:0}abbr,acronym{border:0;font-variant:normal}del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}ol,ul{list-style-type:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold}button,input,select,textarea{font-size:100%}q:before,q:after{content:''}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ins,a{text-decoration:none}a:hover{text-decoration:underline}img{vertical-align:top}
/* common.css */
.clearfix:after,.wrap:after,.cwrap:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix,.wrap,.cwrap{zoom:1}.clr{clear:both}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}blockquote,pre{white-space:pre-wrap;word-wrap:break-word;}.text-size{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}.text-justify{text-align:justify;text-justify:inter-ideograph;}.opacity{opacity:.5;filter:alpha(opacity=50);}.text-ell{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}.css3_shadow{transition:all 1s ease-out 0s;border-radius:5px;box-shadow:0 0px 4px rgba(206,201,170,0.8)}.css3_shadow:hover{box-shadow:0 0px 5px rgba(206,201,170,1)}.yahei{font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","黑体"}.fl,.fr{display:inline}.fl{float:left;}.fr{float:right}bc{margin-left:auto;margin-right:auto;}.tc{text-align:center}.f12{font-size:12px}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.f22{font-size:22px}.f24{font-size:24px}.f30{font-size:30px}.lh18{line-height:18px}.lh20{line-height:20px}.lh22{line-height:22px}.lh24{line-height:24px}.mt10{margin-top:10px}.mt20{margin-top:20px}.mb10{margin-bottom:10px}.mb20{margin-bottom:20px}.ml10{margin-left:10px}.mr10{margin-right:10px}.pd10{padding:10px}.pt10{padding-top:10px}.pb10{padding-bottom:10px}.plr10{padding-left:10px;padding-right:10px}
.hr_a,.hr_b,.hr_c{font-size:1px;line-height:1px;display:block;clear:both;overflow:hidden}.hr_a{height:10px}.hr_b{height:5px}.hr_c{height:20px}
.no-bg{background:none !important}.no-bd{border:none !important}.p_rel{position:relative}.p_abs{position:absolute}
.B,.fb{font-weight:bold}.fnb{font-weight:normal}.tc{text-align:center}.tr{text-align:right}.dis{display:block}.undis{display:none}.disb{display:inline-block;zoom:1;*display:inline}i{font-style:normal}
.hv_blank{ width:5px; overflow:hidden; height:80px; display:block;}.ie6_blank{display:none; width:1px;height:1px;overflow:hidden;zoom:1;_display:block}
.hr_line{ border-top:1px dashed #e8e8e8; height:10px; overflow:hidden; display:block}
.hor li{display:inline;float:left;zoom:1}.hor li a{display:block;float:left}
.disa a,.g_btn a{display:block;width:100%;height:100%;background:url(about:blank);text-indent:-9999px;}
/*全站统一样式dfn表示价格*/
dfn,td.price{color:#f60;font-style:normal; font-family:Tahoma, Geneva, sans-serif}
dfn{display:inline-block;zoom:1;*display:inline}
dfn i{font-style:normal;font-weight:500}
ol.list-num{ padding:5px 10px 10px 30px;}
ol.list-num li{ list-style:decimal outside; text-indent:0px; line-height:20px; margin:5px 0}

.wrap{width:980px;margin-left:auto;margin-right:auto}.cwrap{width:960px;margin-left:auto;margin-right:auto;}
button,input,select,textarea{font:12px/1 Tahoma,Arial,\5b8b\4f53;}
body{font:12px/22px \5b8b\4f53,Tahoma,Arial; color:#333; background:#fff; position:relative}
/*a:link{color:#05a}a:visited{color:#7a94ae}a:hover{color:#f00}.view_more{color:#06c;padding:0 2px;}*/
h3{font-size:14px;}h4{font-size:12px}
a{color:#08c}a:hover{color:#D38}.view_more i{color:#08c;font-size:11px;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
.ui-content{background:#fff; overflow: hidden;}
.lvmama-bg{ background:url(http://10.3.1.41/lvmama/img/lv-bg1.jpg) #f8fcff top center repeat-x}

.lv-nav{ color:#888; height:24px; line-height:24px; padding:5px 0}.lv-nav a.current{color:#888;text-decoration: none}
.lv-bd{ border:1px solid #d8d8d8}
.lv-aside{ width:150px; padding:10px 0; background:#fafafa; margin-right:10px; float:left; overflow:hidden; display:inline; margin-bottom:-1000px;padding-bottom: 1000px;}
.lv-content{ width:808px; float:left; display:inline; margin:10px 0 0; padding-bottom:20px;}
.my-account{ font-family:Arial, Helvetica, sans-serif;}

/* 驴妈妈UI设计 */
/* 字体颜色控制 */
.lv-c1{color:#f60}
.lv-ca{color:#333}
.lv-cb{color:#555}
.lv-cc{color:#888}
.lv-cw{color:red}

/* 信息框（积分，存款，优惠券等） */
.mod-info{ border:1px solid #ffce88; background:#ffffe0; padding:15px 15px 10px 20px;}
.info-detail p{ margin:5px -80px 5px 0}
.info-detail .info-num i{ font-size:30px; line-height:31px; color:#f60; height:31px; margin-right:5px;}
.info-detail .info-num { vertical-align:bottom;color:#555; font-size:14px; margin-right:20px;}
.info-detail .hv_blank{ background:url(http://10.3.1.41/lvmama/img/lvmama.gif) 0 0 no-repeat; width:2px;}
/*.info-coupon .hv_blank{ background-position:-2px 0; height:150px;}*/
.info-detail{ width:420px;}
.info-tips,.info-set{padding:20px 10px 0 40px; width:300px}
/*.info-m-tips{  border-top:1px dotted #ddd}*/
.info-detail .ui-btn5,.info-detail .ui-btn6,.info-detail .ui-btn7{ margin-right:10px;}
.info-tips .tips-info{ line-height:18px; margin-top:10px;}
.info-detail .ui-btn3{ vertical-align:top;}
.tips-info .lv-c1{ font-weight:bold} 

.info-coupon .info-m-tips{margin-top:1px; padding-top:3px;border-top:1px dotted #ffd18f; margin-right:40px;}
.ie6 .text_bottom a,.ie7 .text_bottom a{position:relative; top:20px;}
.enter-coupon{ padding:10px 0 20px}
.enter-coupon p{ padding-left:110px; margin:5px 0}
.enter-coupon p label{ float:left; display:inline; margin-left:-110px; line-height:30px; height:30px;text-align:right}
.enter-coupon .ui-btn{ vertical-align:top}

/* 提醒，弹窗，警告，错误提示，操作提示，疑问提示 */
.tips-yellow{ background:#ffffe0; border:1px solid #ffce88; padding:8px;}
.tips-msg{ display:inline-block;zoom:1;*display:inline;}
.tips-yellow .lv-c1{margin-right:45px;}
.tips-yellow .lvapp-icon{ margin-top:2px;}
.tips-ico01,.tips-ico02,.tips-ico03,.msg-ico01,.msg-ico02,.msg-ico03,.s-arrow,.tips-faq{ background-image: url(http://10.3.1.41/lvmama/img/tips-ico.gif); display:inline-block;zoom:1;*display:inline;position:relative}
.tips-ico01,.tips-ico02,.tips-ico03,.s-arrow,.tips-faq{width:12px; height:12px;margin:0px 5px 0 0;position:relative; top:1px}
.msg-ico01,.msg-ico02,.msg-ico03{ width:32px; height:32px; margin-right:10px;}
.tips-ico01{background-position:0 0;*top:9px; *vertical-align:top}
.tips-ico02{background-position:0 -12px;}
.tips-ico03{background-position:0 -24px;}
.tips-faq{background-position:0 -48px;}
.s-arrow{background-position:0 -36px;}
.msg-ico01{background-position:-12px 0;}
.msg-ico02{background-position:-12px 0;}
.msg-ico03{background-position:-12px 0;}
.tips-success,.tips-error,.tips-warn,.tips-info,.tips-winfo{ padding:3px 10px !important; display:inline-block;zoom:1;*display:inline;vertical-align:top;position:relative;_vertical-align: baseline;_top:1px}

p.tips-info{ display:block; margin:15px 0;}
.tips-success,.tips-error,.tips-warn{color:#888}
.tips-success{ background:#f1ffe2; border:1px solid #7dc25e;}
.tips-success .tips-ico01{background-position:0 0;*top:0;}
.tips-error{ background:#fff2f2;color:red; border:1px solid #f44;}
.tips-info{ background:#ffffe1; border:1px solid #ffce89;}
.tips-warn{ background:#ffffe0; border:1px solid #ff8801;}
.tips-winfo{ background:#f7f7f7; border:1px solid #e5e5e5; padding:1px 10px !important; line-height:24px; margin-left:10px;color:#888;*width:240px;}

.tips-winfo .ui-disbtn{_top:-1px; display:inline;float:right; font-weight:normal; font-size:12px}
.ie6 .tips-success,.ie6 .tips-error,.ie6 .tips-warn,.ie6 .tips-info{padding-top:7px !important; height:18px; vertical-align:top
}
.ie .tips-winfo,.ie .tips-winfo{width:240px;}
.ie6 .tips-winfo{ padding:2px 10px 1px 10px !important;}
.ie6 .tips-winfo .ui-disbtn{ top:-1px;}

.tips-c1{color:#f00}
.msg-success,.msg-info,.msg-winfo{ padding:30px 20px 20px 60px;}
.msg-success .msg-ico01{ float:left; display:inline; margin:-5px 0 0 -45px;}
.msg-success .lv-c1{ padding:0 3px;}
.msg-success h3{color:#000}

.radius{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.radius5{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}

/* css实现的箭头--小小提示框 */
.minitip{position:absolute;padding:2px 4px;text-align:center;white-space:nowrap;border:1px solid #ffce88;background:#ffffe0;z-index:5;display:none}
.minitip .cont{color:#7a7a7a;line-height:18px}

/* pages页码控制 */
.pages{margin-top:10px;text-align:right;}
.pages a,.pages span{display:inline-block;zoom:1;*display:inline;margin-left:5px;padding:3px 9px; line-height:18px;}
.pages a{border:1px solid #ddd;color:#333;background:#fff;}
.pages .PageSel{font-weight:bold;border:1px solid #f80;color:#fff;background:#f80;}
.pages a:hover{ border-color:#f80;color:#f80; text-decoration:none}

/* xh弹窗 */
.xh_overlay,.xh_dialog{display:none}
.xh_overlay{ background:#000;filter:alpha(opacity=20); opacity:.2; width:100%; height:100%; position:absolute; left:0;top:0; z-index:2000; }
.xh_dialog{position:absolute; left:50%; width:294px; height:130px; padding:3px; margin-left:-150px;z-index:2005}
.xh_dialog-bg{ position: absolute; left:0; top:0; width:100%; height:100%; background:#000;filter:alpha(opacity=20); opacity:.2;}
.xh_dialog-box{width:252px;_width:246px; height:84px; padding:20px 20px 24px; overflow:hidden; background:#f2f2f2; border:1px solid #808080; position: absolute;left:3px; top:3px;}
.xh_btn-ok,.xh_btn-cancel{width:65px; height:27px; line-height:27px; text-align:center; font-weight:bold; padding:0; overflow:hidden; display:inline-block; zoom:1;*display:inline; margin-right:20px; cursor:pointer}
.xh_btn-ok:hover,.xh_btn-cancel:hover{ text-decoration:none;}
.xh_btn-ok{ background-position:0 -332px;color:#fff;}a.xh_btn-ok:hover{color:#fff}
.xh_btn-cancel{ background-position:0 -359px;color:#444}a.xh_btn-cancel:hover{color:#444}
.xh_dialog-box h4{ margin-bottom:10px;}
.xh_dialog-box p{ margin:10px 0;color:#555}

