
/* 
 @名称: order.css
 @功能: 订单样式
 */

.wrap{ width:960px;}
body{font:12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;}
.border{border:1px solid #ccc;}
a{color:#08b;text-decoration: none;}
a:hover{color:#e38;text-decoration: underline;}

/* 公共组件 */

/* 虚线 */
.dot_line,.solid_line{display:block;margin:10px 0;clear:both;height:0;overflow:hidden;text-indent:-9999px;}
.dot_line{border-bottom:1px dashed #ddd; }
.solid_line{border-bottom:1px solid #ddd; }
a.dot_line{margin:0 3px;height:auto;line-height:1.5;display:inline-block;text-indent:0;border-bottom:1px dashed #08b;cursor:pointer;}
/* 横向两列经典排版 */
.xdl {
    line-height: 26px;
}
.xdl dt {
    float: left;
    display: inline;
    width: 100px;
    text-align: right;
    margin-bottom: 0;
}
.xdl dd {
    margin-left: 100px;
}

.xdl-hor .xdl {
    margin-bottom: 10px;
}
.xdl-hor input {
    margin-bottom: 0;
}
.xdl-hor label.inline {
    padding-top: 0;
}

.xdl .tl {
    text-align: left;
}








/* 订单公共头部 */
.order-header{margin:10px auto;height:60px;position:relative;z-index:5;}
.header-inner{padding:1px 0;}
.order-header .logo{float:left;display:inline;width:380px;height:60px; background: url(http://pic.lvmama.com/img/v3/logo.png) no-repeat left center;_background: url(http://pic.lvmama.com/img/v3/logo8.png) no-repeat left center;text-indent:-9999px;outline:none}

.order-header p{ text-align:right;color:#555;}
.order-header p.welcome{ padding:10px 3px 0 0;}
.order-header p.info strong{color:#d17;}

/* footer */
.lv-footer *{margin:0;padding:0;}
.lv-footer {margin:0 auto;padding:10px 0;font-family: Arial,\5b8b\4f53;font-size:12px;clear:both;text-align:center;}
.footer-link,.lv-copyright {line-height:22px;clear:both;color:#888;}
.footer-link{color:#ccc;}
.footer-link a,.lv-copyright a{text-decoration: none;font-weight: normal !important;color:#888;}
.footer-link a{padding:0 10px;}
.lv-safety{background:url(http://pic.lvmama.com/img/v3/imghf8.png) no-repeat;display:inline-block;}
.lv-safety{display: block;margin: 5px auto 0;width:620px;height:35px;background-position:0 0;}
.lv-safety a{display:inline-block;float:left;height:100%;width:52px;}
.lv-safety a.safety4{width:75px;}
.lv-safety a.safety7{width:90px;}
.lv-safety a.safety8{width:90px;}


/* 订单样式正文 */
.order-content{overflow:hidden;}
.order-content .sidebar,
.order-content .main{word-wrap:break-word; word-break:break-all;}


.sidebar{float:right;width:240px;background:#f6f6f6;border-left:1px solid #ccc;box-shadow:2px 0 3px #ddd inset;}
.order-content .main{padding:10px 20px;overflow:hidden;}
.order-title{border-bottom:2px solid #ddd;height:30px;line-height:30px;}

.order-title h3{float:left;font-size:16px;color:#e38;}
.order-title h3 span{display:inline-block;border-bottom:2px solid #d17;}

/* 订单侧边栏 */
.sidebox{padding:10px 20px;}
.side-setbox .content{overflow:hidden;}
.pro-setbox{padding-top:8px;margin-top:-1px;margin-bottom:10px;border-top:1px dashed #ddd;}
.pro-setbox dt{font-weight:bold;}
.pro-setbox dd{margin-top:5px;line-height:20px;color:#666;}
.pro-setbox .num,.total-price .price-num{float:right;width:80px;text-align:right;}
.total-price strong{font-size:14px;}
.total-price .price-num{width:auto;}
.total-price dfn{font-size:20px;}

.save-price,.save-price dfn{color:#0b0;}

/* 订单可编辑区域 */
.edit-box{padding-bottom:10px;margin-bottom:10px;}
.edit-box,.choose-info{background:#f0f6fc}
.edit-box .edit-title{
    padding:0 10px;
    height:34px;
    line-height:34px;
    background:#cde;
}
.edit-title h4{font-size:12px;}
.choose-info{
    margin-bottom:10px;
    padding:5px 0 6px;
}
.edit-box .choose-info{
    border-bottom:1px solid #cde;
}
.choose-info .xdl{margin-bottom:0;}








/* 驴妈妈预订条款 */
.lvclause {
    padding:10px 10px 2px;
    height:127px;
    overflow-y:scroll;
    margin-top:20px;
}

.lvclause h3 {
    font-size: 14px;
    margin-bottom:5px;
}
.lvclause h4 {
    font-size: 12px;
    margin-bottom:5px;
}
.lvclause p {
    margin-bottom: 10px;
}



